services:
  app:
    restart: always
    image: eduardoazevedo3/banking-gateway:latest
    env_file:
      - production.env
    deploy:
      replicas: 3
      resources:
        limits:
          cpus: '0.50'
          memory: 300M
        reservations:
          cpus: '0.20'
          memory: 150M
      update_config:
        delay: 10s
        parallelism: 1
        failure_action: rollback
        max_failure_ratio: 0.3
        order: stop-first
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/v1/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
