name: E2E Tests

on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

jobs:
  e2e-tests:
    runs-on: ubuntu-latest

    services:
      docker:
        image: docker:19.03.12
        options: --privileged
        ports:
          - 5432:5432

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Cache Docker layers
      uses: actions/cache@v3
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-buildx-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-buildx-

    - name: Start services
      run: docker compose up -d mysql

    - name: Install dependencies
      run: npm ci

    - name: Exceute migrations
      run: npm run migrations:run:test

    - name: Run E2E tests
      run: npm run test:e2e

    - name: Stop and remove Docker container
      run: docker compose down
